doctype html

html(lang="en")
	head
		// Found a bug? Email me at kvchen@berkeley.edu for your cookies :)

		title="Hog Winrate Calculator"
		!= css("normalize")
		!= css("skeleton")
		!= css("nprogress")
		!= css("codemirror")
		!= css("style")

		link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css")
		link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css')
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css")

	body
		div(class="app-container")
			div(class="row page-header u-full-width")
				div(class="side-spacer")
					h1 #[i(class="fa fa-icon fa-simplybuilt fa-inverse")] hog.#[b winrate]
			div(class="spacer u-full-width")

			div(class="row" style="position: relative;")
				div(class="twelve columns")
					textarea(id="code", name="code")

				div(class="output-container")
					div(class="winrate-container")
						h1(id="winrate") 0.00%
						p(id="unhelpfulMessage") 1) Paste your code <br>2) Check the winrate<br>3) Repeat

					input(class="button-primary u-full-width" id="getWinrate" type="button" value="Calculate Winrate")

	footer
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		!= js("nprogress")
		!= js("codemirror")
		!= js("python/python")
		!= js("countUp.min")
		!= js("client")
		!= js("analytics")